* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    height: 200px;
    width: 300px;
    margin: 10px;
    background: slateblue;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease 0.2s;
}

.box h2 {
    color: #fff;
    font-size: 25px;
    text-align: center;
}

.container .box.show {
    transform: translateX(0%);
}

.box:nth-child(even) {
    transform: translateX(-300%);
}

.box:nth-child(odd) {
    transform: translateX(300%);
}